.App {
  text-align: center;
}

.nav-item {
  margin-left: 2rem;
  font-size: medium;
}


#mainNav {
  padding: 1.4% 0% 1.4%;
  background-color: #1b1d47;
}

#logo {
  margin-right: 55%;
  margin-left: 5%;
}

.homephotos {
  height: 795px;
}

.homephotodesc {
  font-size: large;
}

#card1 {
  width: 250px;
  background: rgb(145, 145, 145);
  opacity: .8;
  margin-left: 547px;
}

.HomeSlogan {
  padding-top: 3.5rem;
  padding-bottom: 10%;
}

.HomePageBoxes {
  padding-left: 16%;

}

.HomePageBox1 {
  display: inline-block;
  background-color: black;
  width: 28%;
  padding-bottom: 7.5%;
}

.HomePageBox1Desc {
  display: flex;
  justify-content:left;
  padding-left: 30%;
}

.HomePageBox1Header {
  display: flex;
  justify-content: left;
  padding-left: 24%;
  padding-bottom: 7%;
  padding-top: 32%;
}

.HomePageBox2 {
  display: inline-block;
  background-color: grey;
  width: 28%;
  padding-bottom: 4.5%;
  
}

.HomePageBox2Desc {
  display: flex;
  justify-content:left;
  padding-left: 26%;
}

.HomePageBox2Header {
  display: flex;
  justify-content: left;
  padding-left: 26%;
  padding-bottom: 7%;
  padding-top: 32%;
}

.HomePageBox3 {
  display: inline-block;
  background-color: rgb(18, 77, 47);
  width: 28%;
  padding-bottom: 7.5%;
  
}

.HomePageBox3Desc {
  display: flex;
  justify-content:left;
  padding-left: 20%;
}

.HomePageBox3Header {
  display: flex;
  justify-content: left;
  padding-left: 30.5%;
  padding-bottom: 7%;
  padding-top: 32%;
}

.HomePageBox4 {
  display: inline-block;
  background-color: rgb(18, 77, 47);
  width: 28%;
  padding-bottom: 7.5%;
  
}

.HomePageBox4Desc {
  display: flex;
  justify-content:left;
  padding-left: 20%;
}

.HomePageBox4Header {
  display: flex;
  justify-content: left;
  padding-left: 30.5%;
  padding-bottom: 7%;
  padding-top: 32%;
}

.CarouselBox {
  
  margin-right: 1400px;
  background-color: green;
  width: 600px;
  opacity: 60%; 
}



.CarouselSubCaption {
  padding-right: 70%;
}

.CarouselBtn {
  padding-right:70%;
}

.ContactForm {
  padding-left: 500px;
  padding-bottom: 100px;
  display: inline-block;
}

.ContactName {
  width: 18rem;
}

.Child1 {
  display: inline-block;
  
}

.ProjectsContainer {
  
}

#ResidentialPhoto {
  padding-top: 26.5%;
}

.ProjectsMainInfo {
  padding-left: 15%;
  padding-top: 7%;
  max-width: 830px;
  max-height: 1000px;
  
}

.ProjectsMainContainer {
  max-height: 1000px;
}

.ProjectsHeader {
  font-size: 3.5rem;
}

.ResidentialProjectSlogan {
  padding-top: 13%;
  padding-bottom: 20%;
}
.ResidentialProjectDesc {
  font-size: large;
  max-width: 70%;
}

.CarouselProject {
  padding-bottom: 50%;
  max-height: 1000px;
  
}

.AboutContainer {
  padding-left: 30%;
}

.AboutHeader {
  padding-top: 7%;
  font-size: 3.5rem;
}

.AboutDesc {
  font-size: large;
  padding-top: 5%;
}

.ColorBarAbout {
  background-color: #4fb6b9;
  width: 31%;
  height: 0.6rem;
}

.ColorBarProjects {
  background-color: #4fb6b9;
  width: 475px;
  height: 0.6rem;
}

.ColorBarClientServices {
  background-color: #4fb6b9;
  width: 360px;
  height: 0.6rem;
}

.MainHeaderClient {
  font-size: 3.5rem;
  padding-top: 5%;
  padding-bottom: 2%;
}

.MainHeaderSlogan {
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 1.6%;
  display: flex;
  justify-content: center;
}

.MainHeaderContent {
  padding-left: 40%;
}

.DesignHeader {
  padding-top: 8%;
  padding-bottom: 6%;
  padding-left: 10%;
  color: #ce0e7e;
}

.DesignCol {
  background-color: rgb(247, 245, 245);
  max-width: 350px;
}

.DesignImage {
  
}

.DesignDesc {
  padding-left: 10%;
}

.PreconstructionHeader {
  padding-top: 8%;
  padding-bottom: 6%;
  padding-left: 10%;
  color: #ce0e7e;
}

.PreconstructionCol {
  background-color: rgb(247, 245, 245);
  max-width: 350px;
}

.PreconstructionImage {
  
}

.PreconstructionDesc {
  padding-left: 10%;
}

.ConstructionManagementHeader {
  padding-top: 8%;
  padding-bottom: 6%;
  padding-left: 10%;
  color: #ce0e7e;
}

.ConstructionManagementCol {
  background-color: rgb(247, 245, 245);
  max-width: 350px;
}

.ConstructionManagementImage {
  max-height: 204.35px;
}

.ConstructionManagementDesc {
  padding-left: 10%;
}

.ConstructionHeader {
  padding-top: 8%;
  padding-bottom: 6%;
  padding-left: 10%;
  color: #ce0e7e;
}

.ConstructionCol {
  background-color: rgb(247, 245, 245);
  max-width: 350px;
}

.ConstructionImage {
  max-height: 204.35px;
}

.ConstructionDesc {
  padding-left: 10%;
}